{% extends "main.html" %}

{% block content %}
<center>
<h2>This is Blog page</h2>
<a href="{% url 'blog_create' %}">Create a New Blog</a>
</center>


<form method="GET" action="{% url 'blog_search' %}" class="search-form">
  <input type="text" name="query" placeholder="Search..." class="search-input">
  <button type="submit" class="search-button">Search</button>
</form>
{% if blogs %}
    <center>
    <div class="blog-container">
        {% for blog in blogs %}
            <div class="blog-item">
                <h3>{{ blog.blog_name }}</h3>
                <img class="imagecut" src="{{ blog.blog_image.url }}" alt="{{ blog.blog_name }}">
                <p>{{ blog.blog_description }}</p>
                <hr>
                <div class="blog-actions">
                    <a href="{% url 'blog_update' blog.pk %}">Update</a>
                    <a href="{% url 'blog_delete' blog.pk %}">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No results found</p>
{% endif %}

<!--Paginator-->
{% if blogs.has_other_pages %}
    <div class="pagination">
        {% if blogs.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ blogs.previous_page_number }}">previous</a>
            <br>
        {% endif %}
        <span class="current-page">
            Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}.
        </span>
        {% if blogs.has_next %}
            <a href="?page={{ blogs.next_page_number }}">next</a>
            <a href="?page={{ blogs.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </div>
{% endif %}

{% endblock content %}