{% extends "main.html" %}

{% block content %}
<center>
<h2>This is Blog page</h2>
</center>

<form method="GET" action="{% url 'blog_search' %}">
    <input type="text" name="query" placeholder="Search...">
    <button type="submit">Search</button>
</form>

{% for blog in blogs %}
    <div>
      <h3>{{ blog.blog_name }}</h3>
      <img class=imagecut src="{{ blog.blog_image.url }}" alt="{{ blog.blog_name }}">
      <p>{{ blog.blog_description }}</p>
    </div>
{% endfor %}

{% endblock content %}