{% extends "main.html" %}

{% block content %}
<div class="my-body text-center">
<h2>Search results for "{{ request.GET.query }}"</h2>
<form method="GET" action="{% url 'blog_search' %}" class="py-3 mb-3 border-bottom">
    <input type="text" name="query" placeholder="Search..." class="search-input">
    <button type="submit" class="search-button">Search</button>
</form>
{% if blogs %}
    <div class="blog-container d-flex justify-content-center">
    {% for blog in blogs %}
        <div class="row">
            <div class="col-md-6">
                <h3>{{ blog.blog_name }}</h3>
                <img class="blog-img" src="{{ blog.blog_image.url }}" alt="{{ blog.blog_name }}">
                <p>{{ blog.blog_description }}</p>
            </div>
        </div>
    
    {% endfor %}
    </div>
{% else %}
    <p>No results found</p>
{% endif %}
<!--Paginator-->
{% if blogs.has_other_pages %}
    <div class="d-flex justify-content-center">
        <span class="step-links">
            {% if blogs.has_previous %}
                <a href="?query={{ request.GET.query }}&page=1">&laquo; first</a>
                <a href="?query={{ request.GET.query }}&page={{ blogs.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current-page">
                Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}.
            </span>

            {% if blogs.has_next %}
                <a href="?query={{ request.GET.query }}&page={{ blogs.next_page_number }}">next</a>
                <a href="?query={{ request.GET.query }}&page={{ blogs.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endif %}


{% endblock content %}