{% extends "main.html" %}

{% block content %}
<center>
<h2>This is Blogs page</h2>
<a href="{% url 'blog_create' %}">Create a New Blog</a>
<form method="GET" action="{% url 'blog_search' %}" class="py-3 mb-3 border-bottom">
  <input type="text" name="query" placeholder="Search..." class="search-input">
  <button type="submit" class="search-button">Search</button>
</form>
</center>
{% if blogs %}
    <center>
    <div class="blog-container">
        {% for blog in blogs %}
            <div class="blog-item">
                <h3>{{ blog.blog_name }}</h3>
                <img class="imagecut" src="{{ blog.blog_image.url }}" alt="{{ blog.blog_name }}">
                <p>{{ blog.blog_description }}</p>
                <hr>
                <div class="blog-actions">
                    <a href="{% url 'blog_update' blog.pk %}">Update</a>
                    <a href="{% url 'blog_delete' blog.pk %}">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No results found</p>
{% endif %}

<!--Paginator-->
{% if blogs.has_other_pages %}
    <div class="pagination-container">
        {% if blogs.has_previous %}
            <a class="custon-text" href="?page=1">&laquo; First</a>
            <a class="custon-text" href="?page={{ blogs.previous_page_number }}">Previous</a>
            <br>
        {% endif %}
        <span class="current-page">
            Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}. 
        </span>
        {% if blogs.has_next %}
            <a class="custon-text" href="?page={{ blogs.next_page_number }}">Next</a>
            <a class="custon-text" href="?page={{ blogs.paginator.num_pages }}">Last &raquo;</a>
            <br>
        {% endif %}
    </div>
{% endif %}


{% endblock content %}