{% load static %}

{% block content %}
<br>
<br>
<center>
</center>
<div class="footer">
    <h3 class="textblue">
        <h2>This is a footer</h2>
        <img class="imagecut left-image" src="{% static 'images/bg.jpg' %}" alt="Background picture">
        <h2>@{% now 'Y' %} All Rights Reserved</h2>
        <h2>Please contact us if you have questions</h2>
        <span class="footer-text">Oreh Development @</span>
        <img class="imagecut right-image" src="{% static 'images/bg.jpg' %}" alt="Background picture">
    </h3>
</div>

{% endblock content %}